In [ ]:
'''
PRESS ' ctrl + c ' - TO COPY ANY TEXT 
PRESS ' ctrl + v ' - TO PASTE THE COPY TEXT
PRESS ' ctrl + x ' - TO CUT AND COPY THE TEXT 
PRESS ' shift + alt + down arrow ' - TO COPY THE WRITTRN TEXT IN THE LIEN BELLOW THE TEXT
PRESS ' shift + alt + up arrow ' - TO COPY THE WRITTRN TEXT IN THE LIEN ABOVE THE TEXT

'''

In [80]:
# ESCAPE SEQUANCE CHARACTERS 

'''

1. \\ – Backslash
2. \n – Newline
3. \t – Horizontal Tab
4. \r – Carriage Return
5. \' – Single Quote
6. \" – Double Quote
7. \b – Backspace
8. \0 – Null character

'''



a = "hi my name \\ is paresh "
b = "hi my name \n is paresh "
c = "hi my name \t is paresh "
d = "hi my name \r is paresh "
e = "hi my name \' is paresh "
f = "hi my name \" is paresh "
g = "hi my name \b is paresh "
h = "hi my name \0 is paresh "

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

hi my name \ is paresh
hi my name
 is paresh
hi my name 	 is paresh
 is paresh
hi my name ' is paresh
hi my name " is paresh
hi my name is paresh
hi my name   is paresh

In [17]:
#ARITHMATIC OPERATORS + , - , * , / etc.
a = 4 + 3
b = 4 * 3
c = 4 / 2 
d = 4 - 3
print(a,b,c,d)

7 12 2.0 1

In [18]:
#ASSIGNMENT OPERATORS = , += , -= , *= etc.
a = 6
a += 3 # ADD 3 MORE TO 6 = 9
b = 6  
b -=3 # SUBSTRACT 3 TO 6 = 3
c = 6
c *= 3 # MULTIPLY 3 TO 6 = 18

print(a , b , c)

9 3 18

In [19]:
# COMPARISION OPERATORS == , < , > , <= , >= , != etc.
''' IN COMPARISION OPERATIOR THE RESULT IS ALWAYS SHOWN IN BOOLEN  '''
a = 5<4 # FALSE 
b = 5>4 # TRUE
c = 5<=5 # TRUE BECAUSE 5 IS EQUAL TO 5 
d = 5>=5 # TRUE BECAUSE 5 = 5
e = 5!=4 # TRUE BECAUSE 5 IS NOT EQUAL TO 4
f = 5 == 5 # TRUE BECAUSE 5 IS EQUAL TO 5 
print(a,b,c,d,e,f)

False True True True True True

In [20]:
# LOGICAL OPERATORS 'or' , 'and' , 'not' etc.
'''  TRUTH TABLE FOR 'OR' LOGICAL OPERATOR '''
# IN 'OR' LOGICAL OPERATOR EVEN IF ONE IS [TRUE] THEN THE RESULT WILL BE TRUE---
a = False or False  # FALSE
b = True or False   # TRUE
c = False or True   # TRUE
d = True or True    # TRUE 

'''  TRUTH TABLE FOR 'AND' LOGICAL OPERATOR '''
# IN 'AND' LOGICAL OPERATOR EVEN IF ONE IS [FALSE] THEN THE RESULT WILL BE FALSE---
e = False and False # FALSE
f = True and False  # FALSE
g = False and True  # FALSE
h = True and True   # TRUE

''' 'NOT' LOGICAL OPERATOR '''
# IT TUERNS [TURE] INTO FALSE AND [FALSE] INTO TRUE
i = not(True)
j = not(False)

In [24]:
# TYPE() FUNCTION AND TYPE CASTING 'int','float','bool','str','list'
a = 34       # INTEGER 'int'
b = 34.4     # FLOAT 'float'
c = True     # BOOLIAN 'bool'
d = "string" # STRING 'str'
e = [23]     # LIST 'list'

print(type(a),type(b),type(c),type(d),type(e))

''' IF WE WANT WE CAN CANGE THE DATA TYPE OF ANY VARIABLE UNTIL IT IS VALID '''
f = "32.4"
g = float(f)  # THE DATA TYPE HAS CHANGE FROM 'str' to 'float'
print(g,type(g)) 

h = 34.8
i = int(h)   # THE DATA TYPE HAS CHANGE FORM 'float' to 'int'
print(i,type(i))

# WE CAN CHANGE THE DATA TYPE OF ALL OF THE DATA TYPE UNTIL IT IS VALID

<class 'int'> <class 'float'> <class 'bool'> <class 'str'> <class 'list'>
32.4 <class 'float'>
34 <class 'int'>

In [29]:
# INPUT() FUNCTION 
''' 'input()' FUNCTION IS USE TO INPUT ANYTHING AFTER THE CODE BY THE USER '''
# DEFAULT DATA TYPE OF INOUT() IS [STRING]
a = input('ENTER YOUR NAME : ')  # WE CAN ENTER ANYTHING IN IT 
b = input('ENTER YOUR LAST NAME : ')
c = a+b # sence the data type of input is 'str' then the inputs will and in a single line
print(c) # input(a) input (b)

''' TO PERFORM THE ARITHMATIC OPERATIONS WITH NUMBERS WE HAVE TO CHANGE THE DATA TYPE OF INPUT FROM 'str' to 'int' '''
d = int(input('ENTER THE FIRST NUMBER : '))
f = int(input('ENTER THE SECOND NUMBER : '))
g = d+f
h = d/f
i = d%f
j = d*f
k = d//f
print(g,h,i,j,k)

ENTER YOUR NAME :  hi
ENTER YOUR LAST NAME :  by

hiby

ENTER THE FIRST NUMBER :  248
ENTER THE SECOND NUMBER :  72

320 3.4444444444444446 32 17856 3

In [5]:
# [STRINGS]----------
''' STRING IS A DATA TYPE 'str' '''
a = 'mikey'     # SINGLE QUOTED STRING
b = "mikey"     # DOUBLE QUOTED STRING
c = '''mikey''' # TRIPLE QUOTED STRING CAN BE USE FOR MULTIPLE LINE STRING

# TO SEE THE LENGTH OF THE STRING WE CAN USE A CODE len()
d = len(a)
print(d)

# THE LENGTH OF THE STRING IS DETERMIND BY THE POSTION OF ALL THE ELEMENTS OF THE STRINGS IN THE STRING 
'''

FOR EXAMPLE :- 
IN A STRING a = 'mikey'

[-5][-4][-3][-2][-1]
 m   i   k   e   y 
[0] [1] [2] [3] [4]

ALL THE ELEMENTS HAVE THERE OWN INDIVIDUAL PLACE IN POSITIVE THE INXED STARTS WITH 0
IN NEGATIVE THE INDEXING STARS WITH -1
AND SPACE ALSO HAVE A INDIVIDUAL PALCE 

- AND BY THE HELP OF INDEXING WE CAN FIND THE LENGTH OF ANY STRING 

'''

# STRING IS INMUTABLE 

''' STRING SLISING '''

# WE CAN PRINT THE LETTERS OF ANY STRING BY WRITING THERE INDEX PLACES 

'''

IN SLICING WE HAVE THREE COULMNS 
1. [START]
2. [END]
3. [STEP]

VAR = 'str'
VARIABLE = VAR[ START : END : STEPS]

:- STEPS A DEFAULT (+1)

'''

e = "Hello world"
f = e[3]
g = e[0:4]
h = e[0:11:2]
print(f,g,h)

# WE CAN USE NEGATIVE VALUES TOO 

i = e[-10:-1]
print(i)

j = "nothing can go out"
print(j[:6]) # [:6] MEANS THAT IT STARTS FROM 0 AND END ON 6
print(j[1:]) # [1:] THIS MEANS THAT IT STARTS WITH 1 AND GOES TO THE END 
print(j[::]) # IT MEANS FROM START TO END OR THE LENGTH OF (j)

'''


THERE IS A NEW WAY TO PRINT A STRING:- 
print(f" ANYSTRING YOU LIKE {name of the variable that store the string} ")

IN PRINTING STRING LIKE THIS WE CAN MAKE ANOTHER STRING IN PRINT FUNCTION 
BUT WE HAVE TO PUT A [F] or [f] BEFORE THE STRING SO THAT IT CAN WORK 

'''
name = input("ENTER YOUR NAME : ")
print(F"HELLO USER {name} ")

5
l Hell Hlowrd
ello worl
nothin
othing can go out
nothing can go out

ENTER YOUR NAME :  HI

HELLO USER HI

In [23]:
# STRING FUNCTIONS-----

# 1. len() - IT SHOWS THE LENGTH OF THE STRING || [--print(len(var))--] ||
a = "hello world i am a guy with high intelligance"
print(len(a)) # [output]:- 45

# 2. str() - IT CONVERTS ANY DATA TYPE WHICH IS NOT STRING TO STRING || [--var = str(another datatype)--] ||
number = str(123)
print(number,type(number))  # [Output]:- "123"

# 3. lower() - IT CONVERTS ALL UPERCASES OF ANY STRING TO LOWER CASE || [--var.lower()--] ||
up = "HELLOW WORLD"
print(up.lower())  # [output]:- "hello world"

# 4. upper() - IT CONVERTS ALL LOWERCASE OF ANY STRING TO UPPERCASE || [--var.upper()--] ||
low = "hello world"
print(low.upper())  # [output]:- "HELLO WORLD"

# 5. **`capitalize()`** - Capitalizes the first letter of the string.

sg = "hello world"
print(sg.capitalize())  # Output: "Hello world"


# 6. **`title()`** - Capitalizes the first letter of each word.

l = "hello world"
print(c.title())  # Output: "Hello World"


# 7. **`strip()`** - Removes any leading and trailing whitespaces.

st = "  hello  "
print(st.strip())  # Output: "hello"


# 8. **`replace(old, new)`** - Replaces all occurrences of a substring with another substring.

b = "Hello world"
print(b.replace("world", "Python"))  # Output: "Hello Python"


# 9. **`find(substring)`** - Returns the lowest index of the substring if it's found, otherwise returns `-1`.

string = "Hello world"
print(string.find("world"))  # Output: 6


# 10. **`startswith(prefix)`** - Returns `True` if the string starts with the specified prefix.

string = "Hello world"
print(string.startswith("Hello"))  # Output: True


# 11. **`endswith(suffix)`** - Returns `True` if the string ends with the specified suffix.

string = "Hello world"
print(string.endswith("world"))  # Output: True


# 12. *split(delimiter)*-Splits the string into a list where each element is a substring separated by the given delimiter.

d = "Hello,world,Python"
print(d.split(","))  # Output: ['Hello', 'world', 'Python']


# 13. *join(iterable)*-Joins the elements of an iterable(like a list)into a single string with the string acting as a separator.

words = ["Hello", "world", "Python"]
print(" ".join(words))  # Output: "Hello world Python"


# 14. **`isdigit()`** - Returns `True` if all characters in the string are digits.

e = "12345"
print(e.isdigit())  # Output: True


# 15. **`isalpha()`** - Returns `True` if all characters in the string are alphabetic (letters).

f = "Hello"
print(f.isalpha())  # Output: True


# 16. **`islower()`** - Returns `True` if all alphabetic characters in the string are lowercase.

g = "hello"
print(g.islower())  # Output: True


# 17. **`isupper()`** - Returns `True` if all alphabetic characters in the string are uppercase.

h = "HELLO"
print(h.isupper())  # Output: True


# 18. **`count(substring)`** - Returns the number of occurrences of a substring in the string.

i = "hello hello hello"
print(i.count("hello"))  # Output: 3


# 19. **`zfill(width)`** - Pads the string on the left with zeros until the specified width is reached.

j = "42"
print(j.zfill(5))  # Output: "00042"


# 20. **`format()`** - Formats specified values into a string using placeholders.

k = "My name is {} and I am {} years old."
print(k.format("Alice", 30))  # Output: "My name is Alice and I am 30 years old."

45
123 <class 'str'>
hellow world
HELLO WORLD
Hello world
Mikey
hello
Hello Python
6
True
True
['Hello', 'world', 'Python']
Hello world Python
True
True
True
True
3
00042
My name is Alice and I am 30 years old.

In [33]:
# PRACTICE SET OF STRING -----

# 1. WRITE A PYTHON CODE TO DISPLAY A USER ENTERDER NAME FOLLOW BY GOOD AFTER NOON USING INPUT()

name = input('ENTER YOUR NAME : ')
print(f'GOOD AFTER NOON  : {name}')


# 2. WRITE A PROGRAM TO FILL IN A LITTER TAMPLATE GIVEN BELOW WITH NAME AND DATE.

'''
letter = dear <|NAME|>,
         You are selected!
         <|DATE|>

'''

letter1 = '''
         dear <|NAME|>,
         You are selected
         <|DATE|>
        '''

print(letter.replace('<|NAME|>','PARESH').replace('<|DATE|>','26 Aug'))

# 3. WRITE A PROGRAM TO DECTECT DOUBLE SPANCE IN A STRING

a = " hello world ,  my name is paresh "
print(a.find("  ")) 
# if [.find()] cannot find the thing then it will not show error it will give '-1' as the result

# 4. REPLACE THE DOUBLE SPACE FROM Q-3 TO SINGLE SPACE

print(a.replace("  "," "))
# sence string is immutable therefore the real string will not change with any of these edits.
print(a) # the output will be the same as we put it in variable it will not change.

# 5. WRITE A PROGRAM TO FORMATE THE FOLLOWING LETTER USING ESCAPE SEQUANCE 
'''
letter2 = "Hello paresh,Thanks for your help,you really are good person"
'''

letter2 = "Hello paresh,\n\tThanks for your help,\nyou really are a good person"
print(letter2)

ENTER YOUR NAME :  paresh

GOOD AFTER NOON  : paresh

         dear PARESH,
         You are selected
         26 Aug

14
 hello world , my name is paresh
 hello world ,  my name is paresh
Hello paresh,
	Thanks for your help,
you really are good person

In [54]:
# LIST AND TUPLES--------------------------------
# LIST[]---------
# List can store multiple data types and it is mutable we can change anything in a list 

A = [] # IT IS A EMPTY LIST

''' ---LIST INDEXING--- '''

friend = ["Apple","Ansh","Manish","Ram","Shubham",27,326.45,False,]
print(friend[0])
# OUTPUT = "Apple"

# JUST LIKE STRING INDEXING WORKS THE SAME IN LIST 

# variable[start:end:steps] 
# defult value of start = 0 , end = n , steps = 1
print(friend[1:4])
# OUTPUT = ['Ansh', 'Manish', 'Ram']
print(friend[::]) # IT PRINTS FROM (START TO END)
print(friend[::-1]) # IT WILL PRINT THE RESULT FROM (END TO START)||REVERSE

# LIST METHODS---
l1 = [1,8,7,2,21,15]
l2 = [1,8,7,2,21,15]
l3 = [1,8,7,2,21,15]
l4 = [1,8,7,2,21,15]
l5 = [1,8,7,2,21,15]
l6 = [1,8,7,2,21,15]

l1.sort() # REARRANGE THE LIST IN ASCENDING ORDER [1,2,7,8,15,21]
l2.reverse() # REVERCES THE LIST [15,21,2,7,8,1]
l3.append(8) # ADD 8 TO THE END OF THE LIST
l4.insert(3,8) # THIS WILL ADD 8 AT 3 INDEX
l5.pop(2) # WILL DELETE THE ELEMENT AT INDEX 2 AND RETURN ITS VALUE 
l6.remove(21) # WILL REMOVE 21 FROM THE LIST

print(l1)
print(l2)
print(l3)
print(l4)
print(l5)
print(l6)

# Because list is mutable if we change a list then the original list will change 
# unlike string which makes a copy of the multable string and it doesn't affect the original string

Apple
['Ansh', 'Manish', 'Ram']
['Apple', 'Ansh', 'Manish', 'Ram', 'Shubham', 27, 326.45, False]
[False, 326.45, 27, 'Shubham', 'Ram', 'Manish', 'Ansh', 'Apple']
[1, 2, 7, 8, 15, 21]
[15, 21, 2, 7, 8, 1]
[1, 8, 7, 2, 21, 15, 8]
[1, 8, 7, 8, 2, 21, 15]
[1, 8, 2, 21, 15]
[1, 8, 7, 2, 15]
1 <class 'int'> (1,) <class 'tuple'>
3
2
4
40
10
60
[1, 2, 3, 4]
True
(1, 2, 3)

In [57]:
# TUPLE--------------------

'''

-TUPLE IS IMMUTABLE UNLIKE LIST WHICH IS MUTABLE 
-IT IS DEFINED USGIN PARENTHESES ()
-AND LIST IS DEFIND USING BRACKET []

'''
t = () # IT IS A EMPTY TUPLE
t0 = (1) # IT IS NOT A TUPLE IT WILL IDENTIFY IT SELF AS A INTEGER 
t1 = (1,) # WE HAVE TO USE A (,) TO MAKE THIS VARIABLE A TUPLE OTHER WISE IT WILL IDENTIFY IT SELF AS INTEGER
print(t0,type(t0),t1,type(t1))

a = (1,3,234,524,False,"Rohan","Ram")
# TUPLE IS JUST LIKE LIST BUT IT IS IMMUTABLE WHICH MAKES IT DIFFRENT FROM LIST 

# METHODS OF TUPLE-------------

# 1. **`count(value)`** - Returns the number of times a specified value appears in the tuple.

my_tuple = (1, 2, 3, 1, 4, 1)
print(my_tuple.count(1))  # Output: 3

# 2. **`index(value)`** - Returns the index of the first occurrence of the specified value. Raises a `ValueError` if the value is not found.

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple.index(3))  # Output: 2

# Tuple-related built-in functions:

# Even though tuples have few built-in methods, you can use several built-in functions with tuples:

# 3. **`len()`** - Returns the number of elements in the tuple.

my_tuple = (1, 2, 3, 4)
print(len(my_tuple))  # Output: 4


# 4. **`max()`** - Returns the largest element in the tuple (only works if the elements are comparable, like all numbers or all strings).

my_tuple = (10, 20, 30, 40)
print(max(my_tuple))  # Output: 40


# 5. **`min()`** - Returns the smallest element in the tuple.

my_tuple = (10, 20, 30, 40)
print(min(my_tuple))  # Output: 10


# 6. **`sum()`** - Returns the sum of all elements in the tuple (only works with numbers).

my_tuple = (10, 20, 30)
print(sum(my_tuple))  # Output: 60


# 7. **`sorted()`** - Returns a sorted list of the tuple's elements (does not modify the original tuple).

my_tuple = (3, 1, 4, 2)
print(sorted(my_tuple))  # Output: [1, 2, 3, 4]


# 8. **`in`** - Checks if an element exists in the tuple.

my_tuple = (1, 2, 3, 4)
print(2 in my_tuple)  # Output: True

# 9. **`tuple()`**- Converts another data type (such as a list) into a tuple.

my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3)

my_tuple = (1,2,3,4,5)
repeting = my_tuple*3
print(repeting)

1 <class 'int'> (1,) <class 'tuple'>
3
2
4
40
10
60
[1, 2, 3, 4]
True
(1, 2, 3)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)